<div class="profile">
	<div class="profile-header">
		<div class="profile-people-img">
			<img class="profile-image" src="http://placehold.it/40x40" />
		</div>
		<div class="profile-people-name">
     {{firstName}} {{lastName}}
		</div>
		<div class="profile-people-text">
      {{about}}
		</div>
		<hr/>
	</div>
	<div class="profile-description">
    {{expert_in}}
	</div>
	<div class="profile-location">
      {{nationality}}
	</div>
	<div class="profile-work">
    {{profession}}
	</div>
	<div class="profile-picture">
		<img class="image" src="{{foursquare.photoUrl}}" />
	</div>
	<div class="profile-content">
		<!--<h1>Parc Güell</h1>-->
		<!--<p>-->
			<!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.-->
		<!--</p>-->

      <h1>{{foursquare.name}}</h1>
      <h2>{{article.title}}</h2>
      <p>{{article.content}}</p>
  <p>
    {{#each moods}}
        {{this}} &nbsp;
    {{/each}}
  </p>

	</div>
</div>