<div id="ProfileArticlePanel" class="profile">
        <div class="profile-inner">
	<div class="profile-header">
		<div class="profile-people-img">
			<img class="profile-image" src="{{userThumbnailUrl}}" />
      <!--<img class="profile-image" src="{{user.avatar_url_prefix}}thumb_{{user.avatar_url_suffix}}"/>-->
    </div>
		<div class="profile-people-name">
     {{user.first_name}} {{user.last_name}}
		</div>
		<div class="profile-people-text">
      {{user.about}}
		</div>
		<hr/>
	</div>
	<div class="profile-description">
    {{user.expert_in}}
	</div>
	<div class="profile-location">
      {{user.nationality}}
	</div>
	<div class="profile-work">
    {{user.profession}}
	</div>
  <div class="profile-twitter">
    <a href="http://twitter.com/{{user.twitter_handle}}" target="_blank">@{{user.twitter_handle}}</a>
	</div>
  <div class="profile-url">
      <a href="{{user.website_url}}" target="_blank">website</a>
  </div>
	<div class="profile-picture">
    {{#if foursquare.photoUrl}}
		<img class="image" src="{{foursquare.photoUrl}}" id="profile-image"/>
    {{/if}}
	</div>
	<div class="profile-content">
      <h1><a href="{{foursquare.canonicalUrl}}" target="_blank">{{foursquare.name}}</a></h1>
      <h2>{{article.title}}</h2>
      <p>{{article.content}}</p>
  <p>
    {{#each moods}}
        {{this}} &nbsp;
    {{/each}}
  </p>

	</div>
        </div>
</div>